body{
    margin: 0;
}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.top-container h1{
    color: rgb(61, 60, 60);
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.text{
    font-family: sans-serif;
    margin: 50px 3%;
    text-align: justify;
}

.nav-bar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    
}
.nav-bar ul a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: sans-serif;
}

.nav-bar ul a:hover{
    color: rgb(160, 143, 143);
}

.active{
    background-color: gray;
}
.active ul li a{
    color: whitesmoke;
}
